/* RESET */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* STYLES */

.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

header {
  background-color: #562b81;
  color: white;
  padding: 1px;
}

h1,
h2 {
  font-family: 'Proza Libre', sans-serif;
  font-weight: lighter;
}
