/* RESET */

* {
  box-sizing: border-box;
}

/* ROW + COLUMN STYLES */

.hidden {
  display: none !important;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  width: 100%;
}

.row.header,
.row.subheader,
.row.entry {
  display: flex;
}

.row.entry-form-half {
  display: flex;
}

.column-full,
.column-half {
  width: 100%;
}

.column-quarter {
  width: 25%;
}

.column-half.header-column {
  max-width: 50%;
}

@media screen and (width < 1024px) {
  .column-half.header-column {
    max-width: 100%;
    text-align: left;
  }

  .column-quarter.header-column.themes-anchor {
    width: 200%;
    text-align: center;
  }
}

.column-half.form-img {
  margin-right: 2rem;
}

.column-half.entry-img {
  max-width: 100%;
}

@media screen and (width < 1024px) {
  .column-half.form-img {
    margin-right: 0;
  }
}

@media screen and (width < 1024px) {
  .column-quarter {
    width: 50%;
  }

  .column-half.subheader {
    width: 50%;
  }
}

@media screen and (width < 1024px) {
  .row {
    flex-wrap: wrap;
  }

  .container {
    max-width: 700px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }
}

.no-entries {
  text-align: center;
}

/* FONT + IMG STYLES */

/* UNCHANGED STYLES */

h2.delete-heading {
  text-align: center;
}

@media screen and (width < 1024px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
}

p.delete-text {
  text-align: center;
  padding-bottom: 5px;
}

.entries-anchor {
  padding-top: 8px;
}

#submit-button,
#new-button,
#yes-delete {
  float: right;
}

#delete-button,
#no-delete {
  float: left;
}

#new-button {
  margin: 20px;
}

input {
  width: 100%;
  height: 40px;
}

textarea {
  width: 100%;
  height: 120px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.journal-entry {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

@media screen and (width < 1024px) {
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.entry-img {
  margin-right: 2rem;
}

i {
  padding-top: 25px;
  float: right;
}

@media screen and (width < 1024px) {
  .entry-img {
    margin-right: 0;
    max-width: 100%;
  }
}

@media screen and (width < 1024px) {
  #entry-title-div {
    width: 80%;
  }

  #edit-icon-div {
    width: 20%;
  }
}
